.screen{
    height: 530px;
    
    align-items: center;
    display: flex;
    flex-direction: column;
    background: black;
    
}

.dropdown{
    margin-left: 80%;
    margin-top: 0.5rem;
    width: 225px;
    height: 20px;
    font-family: var(--font-family);
    font-weight:400;
    font-size: 15px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    
    
}