<!DOCTYPE html>
<html lang="english">
  <head>
    <title>cypher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>


    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginscreen.css') }}">
  </head>
  <body>
    <div>
      <link href="./loginscreen.css" rel="stylesheet" />

      <div class="loginscreen-container">
        <div class="loginscreen-loginscreen">
          <img
            src="../static/ellipse182288-yzjp-700w.png"
            alt="Ellipse182288"
            class="loginscreen-ellipse18"
          />
          <img
            src="../static/ellipse212288-hn8k-500h.png"
            alt="Ellipse212288"
            class="loginscreen-ellipse21"
          />
          <img
            src="../static/ellipse232288-n91-400w.png"
            alt="Ellipse232288"
            class="loginscreen-ellipse23"
          />
          <img
            src="../static/ellipse222288-jo1u2-300h.png"
            alt="Ellipse222288"
            class="loginscreen-ellipse22"
          />
          <img
            src="../static/ellipse202288-xcg-200h.png"
            alt="Ellipse202288"
            class="loginscreen-ellipse20"
          />
          <img
            src="../static/ellipse192288-qzee-700w.png"
            alt="Ellipse192288"
            class="loginscreen-ellipse19"
          />
          <div class="loginscreen-form">
            <div class="loginscreen-loginbtn">
              <input class="loginscreen-text" id="submitData" type="submit" value="Login"></input>
            </div>
            <div class="loginscreen-password">
              <input class="loginscreen-text02" placeholder="Password" id="password" name="password" type="password"></input>
            </div>
            <div class="loginscreen-username">
              <input class="loginscreen-text04" placeholder="Email" id="email" name="email"></input>
            </div>
            <span class="loginscreen-text06"><span>Sign in</span></span>
          </div>
          <div class="loginscreen-group46">
            <span class="loginscreen-text08"><span>Get our app</span></span>
            <div class="loginscreen-group43">
              <div class="loginscreen-iconstore">
                <div class="loginscreen-group">
                  <img
                    src="../static/vectori229-45po.svg"
                    alt="VectorI229"
                    class="loginscreen-vector"
                  />
                  <img
                    src="../static/vectori229-vrua.svg"
                    alt="VectorI229"
                    class="loginscreen-vector01"
                  />
                  <img
                    src="../static/vectori229-pwmo.svg"
                    alt="VectorI229"
                    class="loginscreen-vector02"
                  />
                  <img
                    src="../static/vectori229-acp8.svg"
                    alt="VectorI229"
                    class="loginscreen-vector03"
                  />
                  <img
                    src="../static/vectori229-497c.svg"
                    alt="VectorI229"
                    class="loginscreen-vector04"
                  />
                  <img
                    src="../static/vectori229-1aw.svg"
                    alt="VectorI229"
                    class="loginscreen-vector05"
                  />
                  <img
                    src="../static/vectori229-jsf8.svg"
                    alt="VectorI229"
                    class="loginscreen-vector06"
                  />
                  <img
                    src="../static/vectori229-weah.svg"
                    alt="VectorI229"
                    class="loginscreen-vector07"
                  />
                  <img
                    src="../static/vectori229-q99h.svg"
                    alt="VectorI229"
                    class="loginscreen-vector08"
                  />
                  <img
                    src="../static/vectori229-j12.svg"
                    alt="VectorI229"
                    class="loginscreen-vector09"
                  />
                  <img
                    src="../static/vectori229-iaig.svg"
                    alt="VectorI229"
                    class="loginscreen-vector10"
                  />
                  <img
                    src="../static/vectori229-smqm.svg"
                    alt="VectorI229"
                    class="loginscreen-vector11"
                  />
                  <img
                    src="../static/vectori229-ajop.svg"
                    alt="VectorI229"
                    class="loginscreen-vector12"
                  />
                  <img
                    src="../static/vectori229-yhkq.svg"
                    alt="VectorI229"
                    class="loginscreen-vector13"
                  />
                  <img
                    src="../static/vectori229-6unf.svg"
                    alt="VectorI229"
                    class="loginscreen-vector14"
                  />
                  <img
                    src="../static/vectori229-o3b.svg"
                    alt="VectorI229"
                    class="loginscreen-vector15"
                  />
                  <img
                    src="../static/vectori229-3pt.svg"
                    alt="VectorI229"
                    class="loginscreen-vector16"
                  />
                </div>
              </div>
              <div class="loginscreen-iconstore1">
                <div class="loginscreen-group1">
                  <img
                    src="../static/vectori229-evwr.svg"
                    alt="VectorI229"
                    class="loginscreen-vector17"
                  />
                  <img
                    src="../static/vectori229-ww6v.svg"
                    alt="VectorI229"
                    class="loginscreen-vector18"
                  />
                  <img
                    src="../static/vectori229-zqxj.svg"
                    alt="VectorI229"
                    class="loginscreen-vector19"
                  />
                  <img
                    src="../static/vectori229-1pag.svg"
                    alt="VectorI229"
                    class="loginscreen-vector20"
                  />
                  <img
                    src="../static/vectori229-6ijq.svg"
                    alt="VectorI229"
                    class="loginscreen-vector21"
                  />
                  <img
                    src="../static/vectori229-p0tg.svg"
                    alt="VectorI229"
                    class="loginscreen-vector22"
                  />
                  <img
                    src="../static/vectori229-toib.svg"
                    alt="VectorI229"
                    class="loginscreen-vector23"
                  />
                  <img
                    src="../static/vectori229-esqf.svg"
                    alt="VectorI229"
                    class="loginscreen-vector24"
                  />
                  <img
                    src="../static/vectori229-qp0b.svg"
                    alt="VectorI229"
                    class="loginscreen-vector25"
                  />
                  <img
                    src="../static/vectori229-hmb8.svg"
                    alt="VectorI229"
                    class="loginscreen-vector26"
                  />
                  <img
                    src="../static/vectori229-p35v.svg"
                    alt="VectorI229"
                    class="loginscreen-vector27"
                  />
                  <img
                    src="../static/vectori229-917i.svg"
                    alt="VectorI229"
                    class="loginscreen-vector28"
                  />
                  <img
                    src="../static/vectori229-s9nv.svg"
                    alt="VectorI229"
                    class="loginscreen-vector29"
                  />
                </div>
              </div>
            </div>
          </div>
          <span class="loginscreen-text10"><span>cypher</span></span>
        </div>
      </div>
    </div>
  </body>



<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-app.js";
  import { getDatabase } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-database.js";
  import { getAuth, signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-auth.js";

  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyB74LrHBoD-js9XtqJorjSfn1WaMhNBdnU",
    authDomain: "cweb-auth.firebaseapp.com",
    databaseURL: "https://cweb-auth-default-rtdb.firebaseio.com",
    projectId: "cweb-auth",
    storageBucket: "cweb-auth.appspot.com",
    messagingSenderId: "524309298927",
    appId: "1:524309298927:web:9423b376caea88f71c251a"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const database = getDatabase(app);
  const auth = getAuth();
  
  submitData.addEventListener('click',(e) => {

  var email = document.getElementById('email').value;
  var password = document.getElementById('password').value;

  signInWithEmailAndPassword(auth, email, password)
       .then((userCredential) => {
          // Signed in 
          const user = userCredential.user;
          console.log(user);
          window.location.href = "main.html";
        })
       .catch((error) => {
          const errorCode = error.code;
          const errorMessage = error.message;
          alert('Incorrect Credentials');
          // ..
    });

  })
  

</script>
</html>